SourceCode/MyService/MyService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/MyService/MyService/obj/Debug/edmxResourcesToEmbed/DB/Sample.csdl
SourceCode/MyService/MyService/obj/Debug/edmxResourcesToEmbed/DB/Sample.msl
SourceCode/MyService/MyService/obj/Debug/edmxResourcesToEmbed/DB/Sample.ssdl
SourceCode/MyService/MyService/obj/Debug/MyService.csproj.FileListAbsolute.txt
SourceCode/MyService/MyService/obj/Debug/MyService.csprojResolveAssemblyReference.cache
SourceCode/MyService/MyService/obj/Debug/MyService.dll
SourceCode/MyService/MyService/obj/Debug/MyService.pdb
SourceCode/MyService/MyService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SourceCode/MyService/MyService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SourceCode/MyService/MyService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SourceCode/MyService/MyService/obj/Debug/TempPE/DB.Sample.cs.dll
SourceCode/MyService/MyService/obj/Debug/TempPE/DB.Sample.Designer.cs.dll
